<div id="join_form">
<% if @user.approved_member_of?(@group) %>
	<%= render 'leave' %>
<% elsif @user.pending_member_of?(@group) %>
	<%= render 'cancel_join' %>
<% elsif @user.owner?(@group) %>
  <% if can? :update, @group %>
    <%= link_to 'Edit', edit_group_path(@group), class: "button radius expand" %>
  <% end %>
<% else %>
	<%= render 'join' %>
<% end %>
</div>