<div id="join_form">
<% if @user.approved_member_of?(@group) %>
	<%= render 'leave' %>
<% elsif @user.pending_member_of?(@group)%>
	<%= render 'cancel_join' %>
<% else %>
	<%= render 'join' %>
<% end %>
</div>